* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f2f4;
}

.nav {
    background-color:#f1f2f4;      
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.nav img {
    height: 40px;
    width: 40px;
}


.nav input {
    width: 450px;
    height: 36px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 15px;
}

.nav button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 36px;
    padding: 0 14px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.nav button img {
    height: 20px;
}


.nav button:last-child {
    background-color: #2874f0;
    color: white;
    font-weight: bold;
}

.box1 {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 10px;
    margin-top: 10px;
}

.box1 button {
    background-color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.box1 button img {
    height: 70px;
    width: 70px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.box1 button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 15px;
    position: relative;
}

.carousel .slides {
    display: flex;
    width: 300%;
    animation: slide 10s infinite;
}

.carousel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


@keyframes slide {
    0% { transform: translateX(0); }
    30% { transform: translateX(0); }

    33% { transform: translateX(-100%); }
    63% { transform: translateX(-100%); }

    66% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

